<!DOCTYPE html>
<html>
<head>
  <title>DockSpace9</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet'>
  <style>
    body {
      background-color: <%=@color%>;
      color: white;
      font-family: 'Playfair Display', serif;
    }
  </style>
</head>
<body>

<div id="container">
  <%= yield %>
</div>

</body>
</html>
